* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}

li {
    padding-top: 10px;
}

.containerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-content {
    width: 85%;
}

.remove-h1-media {
    font-size: 56px;
    text-align: center;
}

.row {
    display: flex;
}

.review-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
}

.align-just {
    text-align: justify;
}

.elButtonMain {
    padding: 16px 30px;
    border-radius: 10px;
    background: -webkit-linear-gradient(45deg, rgb(240, 162, 56), rgb(186, 106, 0));
    background: -moz-linear-gradient(45deg, rgb(240, 162, 56), rgb(186, 106, 0));
    background: linear-gradient(45deg, rgb(240, 162, 56), rgb(186, 106, 0));
}

.elButtonMain:hover {
    border: 2px solid rgb(121, 105, 95);
    -webkit-box-shadow: 30px 14px 17px 2px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 30px 14px 17px 2px rgba(34, 60, 80, 0.31);
    box-shadow: 30px 14px 17px 2px rgba(34, 60, 80, 0.31);
}

.wrapper-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-card {
    border-radius: 25px;
    -webkit-box-shadow: 30px 14px 17px 2px rgba(34, 60, 80, 0.31);
    -moz-box-shadow: 30px 14px 17px 2px rgba(34, 60, 80, 0.31);
    box-shadow: 30px 14px 17px 2px rgba(34, 60, 80, 0.31);
    padding-top: 20px; 
    padding-bottom: 20px;  
    background-color: rgb(245, 245, 245); 
    width: 80%; 
    margin-bottom: 40px
}

.feedback-card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.reviews-wrapper {
    display: flex;
}

.reviews-left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-right-block {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.review-first-font {
    font-size: 20px;
}

.el-button-media1 {
    color: rgb(255, 255, 255); 
    font-weight: 600; 
    background-color: rgb(231, 97, 1); 
    font-size: 23px;
}

.img-media3 {
    width: 600px;
    height: 600px;
}

.price-today {
    font-size: 32px;
    text-align: center;
}

.price-today-font2 {
    font-size: 38px;
    text-align: center;
}

.el-button-media3 {
    color: rgb(255, 255, 255); 
    font-weight: 600; 
    font-size: 29px;
}

.specifications-media-wrapp {
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin: 50px 0px 0px; 
    display: flex; 
    justify-content: center;
}

.specifications-media {
    text-align: center; 
    font-size: 32px;
}

.font-specifications-content {
    text-align: left; 
    font-size: 23px;
}

.treatment-wrapper {
    padding-top: 30px; 
    padding-bottom: 35px; 
    margin: 50px 0px 0px; 
    display: flex; 
    justify-content: center;
}

.img-first {
    width: 500px; 
    margin-top: 10%;
}

.coat-arms-alignment {
    display: flex;
    align-items: center;
}

.get-2-btn {
    padding-top: 20px; 
    padding-bottom: 70px; 
    margin: 60px 0px 0px;  
    display: flex; 
    justify-content: center;
}

.txt-review-media {
    font-size: 20px;
}

.remove-pain-media {
    text-align: center; 
    font-size: 56px;
}

.marker-color {
    color: rgb(0, 132, 61);
}

.photo-media1 {
    border-radius: 50%;
}

.margin-del {
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin: 30px 0px 0px; 
    display: flex; 
    justify-content: center; 
    border-bottom: 1px solid rgb(205 205 205);
}

.comfort-h1-media {
    text-align: left; 
    font-size: 30px;
}

.content-comfort-h1-media {
    text-align: left; 
    font-size: 20px;
}

.blue-color {
    color: rgb(22, 95, 175);
}

.li-fz {
    font-size: 18px;
}

.remove-h2-media {
    text-align: center; 
    font-size: 22px;
}

.perfect-fit-media{
    text-align: center; 
    font-size: 30px;
}

.media-h2-fonts {
    text-align: left; 
    font-size: 20px;
}

.media-1-1 {
    height: 500px; 
    width: 500px;
}

.second-section-list {
    font-size: 20px;
}

.el-button-media2 {
    color: rgb(255, 255, 255); 
    font-weight: 600; 
    background-color: rgb(0, 132, 61); 
    font-size: 32px;
}

.pad-content {
    padding-left: 40px;
}

.img-review-media {
    width: 180px;
    border-radius: 50%;
}

.star-review-media {
    width: 150px;
}

.customers-say-media {
    text-align: center; 
    font-size: 56px;
}

.wrap-spec-flex {
    display: flex;
    flex-direction: column;
}

.margin-width {
    width: 30%; 
    margin-right: 20px;
}

.treatment-title {
    text-align: center; 
    font-size: 32px; 
    text-decoration: underline;
}

.list-treament {
    padding-top: 20px; 
    padding-bottom: 20px; 
    display: flex; 
    justify-content: space-around;
}

.fair-offer-title {
    text-align: center; 
    font-size: 56px;
}

.warranty-img {
    width: 300px;
}

.fair-offer-title2 {
    text-align: center; 
    font-size: 23px;
}

.days30-title {
    text-align: center; 
    font-size: 40px;
}

.arrow-media {
    height: 160px;
}

@media (max-width: 750px) {
    .days30-title {
        font-size: 30px;
    }
}

@media (max-width: 430px) {
    .days30-title {
        font-size: 26px;
    }
}

@media (max-width: 750px) {
    .warranty-img {
        width: 250px;
    }
}

@media (max-width: 600px) {
    .warranty-img {
        width: 200px;
    }
}

@media (max-width: 450px) {
    .warranty-img {
        width: 160px;
    }
}

@media (max-width: 1110px) {
    .fair-offer-title {
        font-size: 36px;
    }
}

@media (max-width: 750px) {
    .fair-offer-title {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .fair-offer-title {
        font-size: 25px;
    }
}

@media (max-width: 430px) {
    .fair-offer-title {
        font-size: 21px;
    }
}

@media (max-width: 600px) {
    .fair-offer-title2 {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .list-treament {
        flex-direction: column;
        margin-left: 160px;
    }
}

@media (max-width: 560px) {
    .list-treament {
        margin-left: 140px;
    }
}

@media (max-width: 500px) {
    .list-treament {
        margin-left: 110px;
    }
}
@media (max-width: 450px) {
    .list-treament {
        margin-left: 90px;
    }
}

@media (max-width: 420px) {
    .list-treament {
        margin-left: 60px;
    }
}

@media (max-width: 600px) {
    .margin-width {
        width: 90%;
        margin-bottom: 17px;
        margin-right: 0px;
        height: 120px;
    }
}

@media (max-width: 520px) {
    .margin-width {
        height: 140px;
    }
}

@media (max-width: 455px) {
    .margin-width {
        height: 160px;
    }
}

@media (max-width: 600px) {
    .wrap-spec-flex {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .reviews-right-block {
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .left-block-flex {
        flex-direction: column;
        width: 50%;
    }
}

@media (max-width: 600px) {
    .right-block-flex {
        flex-direction: column;
        width: 50%;
        justify-content: flex-start !important;
    }
}

@media (max-width: 760px) {
    .reviews-right-block {
        padding-left: 0px;
    }
}

@media (max-width: 760px) {
    .reviews-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    .second-section-list {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .pad-content {
        padding-left: 0px;
    }
}

@media (max-width: 540px) {
    .coat-arms-alignment {
        flex-direction: column;
    }
}

@media (max-width: 1060px) {
    .remove-h1-media {
        font-size: 28px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .remove-h1-media {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .remove-h1-media {
        font-size: 22px;
        margin-bottom: 10px;
    }
}

@media (max-width: 905px) {
    .remove-h2-media {
        font-size: 19px;
    }
}
@media (max-width: 500px) {
    .remove-h2-media {
        font-size: 16px;
    }
}

@media (max-width: 905px) {
    .move-freely-h1 {
        font-size: 22px !important;
        margin-bottom: 10px;
    }
}

@media (max-width: 859px) {
    .move-freely-h1 {
        font-size: 25px !important;
        margin-bottom: 15px;
    }
}

@media (max-width: 1060px) {
    .img-first {
        width: 457px;
        margin-top: 20%;
    }
}

@media (max-width: 859px) {
    .img-first {
        width: 470px;
        margin-top: 0px;
    }
}

@media (max-width: 600px) {
    .img-first {
        width: 380px;
        margin-top: 0px;
    }
}

@media (max-width: 500px) {
    .img-first {
        width: 300px;
        margin-top: 0px;
    }
}

@media (max-width: 1060px) {
    .list-first li {
        font-size: 15px;
    }
}

@media (max-width: 859px) {
    .list-first li {
        font-size: 19px;
    }
}

@media (max-width: 859px) {
    .list-first li {
        font-size: 16px;
    }
}

@media (max-width: 859px) {
    .list-first li {
        font-size: 14px;
    }
}

@media (max-width: 1060px) {
    .photo-media1 {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 500px) {
    .photo-media1 {
        height: 125px;
        width: 125px;
    }
}

@media (max-width: 905px) {
    .img-star-media {
        width: 120px;
    }
}

@media (max-width: 500px) {
    .img-star-media {
        width: 100px;
    }
}

@media (max-width: 1060px) {
    .review-first-font {
        font-size: 17px;
    }
}

@media (max-width: 905px) {
    .review-first-font {
        font-size: 18px;
    }
}

@media (max-width: 859px) {
    .review-first-font {
        font-size: 21px;
    }
}

@media (max-width: 859px) {
    .review-first-font {
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .review-first-font {
        font-size: 16px;
    }
}

@media (max-width: 1060px) {
    .el-button-media1 {
        font-size: 17px;
    }
}

@media (max-width: 905px) {
    .el-button-media1 {
        font-size: 14px;
    }
}

@media (max-width: 859px) {
    .el-button-media1 {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .el-button-media1 {
        font-size: 15px;
    }
}

@media (max-width: 1060px) {
    .perfect-fit-media {
        font-size: 23px;
    }
}

@media (max-width: 540px) {
    .perfect-fit-media {
        font-size: 18px;
    }
}

@media (max-width: 1060px) {
    .img-media2 {
        width: 222px;
    }
}

@media (max-width: 600px) {
    .img-media2 {
        width: 170px;
    }
}

@media (max-width: 540px) {
    .img-media2 {
        width: 250px;
    }
}

@media (max-width: 420px) {
    .img-media2 {
        width: 210px;
    }
}

@media (max-width: 1060px) {
    .media-h2-fonts {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .media-h2-fonts {
        margin-top: 15px;
    }
}

@media (max-width: 1060px) {
    .margin-del {
        margin: 0px;
    }
}

@media (max-width: 1060px) {
    .media-introducing {
        font-size: 24px !important;
    }
}

@media (max-width: 1060px) {
    .docSleeves-media {
        font-size: 33px !important;
    }
}

@media (max-width: 1166px) {
    .media-1-1 {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 540px) {
    .media-1-1 {
        height: 320px;
        width: 320px;
    }
}

@media (max-width: 1166px) {
    .media-block-right {
        padding-left: 0px !important;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1166px) {
    .comfort-h1-media {
        font-size: 23px;
    }
}

@media (max-width: 540px) {
    .comfort-h1-media {
        font-size: 22px;
        margin-top: 15px;
    }
}

@media (max-width: 1166px) {
    .content-comfort-h1-media {
        font-size: 17px;
    }
}

@media (max-width: 540px) {
    .content-comfort-h1-media {
        font-size: 16px;
        margin-top: 7px;
    }
}

@media (max-width: 1166px) {
    .width-img-block  {
        width: auto !important;
    }
}

@media (max-width: 1166px) {
    .el-button-media2 {
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .el-button-media2 {
        font-size: 16px;
    }
}

@media (max-width: 1166px) {
    .del-padding-media {
        padding: 0px !important;
    }
}

@media (max-width: 1166px) {
    .customers-say-media {
        font-size: 30px;
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .customers-say-media {
        font-size: 24px;
        margin-top: 0px;
    }
}

@media (max-width: 1100px) {
    .remove-pain-media {
        font-size: 34px;
    }
}

@media (max-width: 1060px) {
    .remove-pain-media {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .remove-pain-media {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
    .img-media3 {
        height: 450px;
        width: 450px;
    }
}

@media (max-width: 859px) {
    .img-media3 {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 930px) {
    .img-media3 {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 710px) {
    .img-media3 {
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 1180px) {
    .price-today {
        font-size: 33px;
    }
}

@media (max-width: 1060px) {
    .price-today {
        font-size: 29px;
    }
}

@media (max-width: 800px) {
    .price-today {
        font-size: 24px;
    }
}

@media (max-width: 710px) {
    .price-today {
        font-size: 21px;
    }
}

@media (max-width: 1180px) {
    .el-button-media3 {
        font-size: 19px;
    }
}

@media (max-width: 1060px) {
    .el-button-media3 {
        font-size: 17px;
    }
}

@media (max-width: 955px) {
    .el-button-media3 {
        font-size: 20px;
    }
}

@media (max-width: 930px) {
    .el-button-media3 {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .el-button-media3 {
        font-size: 14px;
    }
}

@media (max-width: 775px) {
    .el-button-media3 {
        font-size: 13px;
    }
}

@media (max-width: 710px) {
    .el-button-media3 {
        font-size: 11px;
    }
}

@media (max-width: 625px) {
    .el-button-media3 {
        font-size: 17px;
    }
}

@media (max-width: 590px) {
    .el-button-media3 {
        font-size: 21px;
    }
}

@media (max-width: 400px) {
    .el-button-media3 {
        font-size: 18px;
    }
}

@media (max-width: 1004px) {
    .block-permutation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px !important;
    }
}

@media (max-width: 1004px) {
    .block-permutation-revers {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 955px) {
    .arrow-media {
        height: 130px;
    }
}

@media (max-width: 775px) {
    .arrow-media {
        width: 180px;
    }
}

@media (max-width: 670px) {
    .arrow-media {
        height: 100px;
    }
}
@media (max-width: 626px) {
    .arrow-media {
        /* height: 90px;
        margin-top: 30px; */
        display: none;
    }
}

@media (max-width: 590px) {
    .arrow-media {
        display: none;
    }
}

@media (max-width: 859px) {
    .specifications-media-wrapp {
        margin: 0px;
    }
}

@media (max-width: 859px) {
    .specifications-media {
        font-size: 30px;
    }
}

@media (max-width: 859px) {
    .font-specifications-content {
        font-size: 17px;
    }
}

@media (max-width: 859px) {
    .treatment-wrapper {
        margin: 0px;
    }
}

@media (max-width: 600px) {
    .del-marg {
        margin: 0px;
    }
}

@media (max-width: 640px) {
    .img-review-media {
        width: 100px;
    }
}

@media (max-width: 640px) {
    .star-review-media {
        width: 100px;
    }
}

@media (max-width: 640px) {
    .txt-review-media {
        font-size: 16px;
    }
}


























